---
interface Props {
	variant?: 'slider' | 'grid';
}

const { variant = 'slider' } = Astro.props;
---

<div class="featurable-widget" data-review-widget={variant}>
	<div id="featurable-6ad1c74f-aeee-4458-b04a-ab3853b7b914" data-featurable-async data-location-code="es"></div>
	<script src="https://featurable.com/assets/bundle.js" defer charset="UTF-8"></script>
</div>
